# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore optional files not needed for grading
src/assets/
src/stats.ts
src/types.ts
src/index.css
src/main.jsx

# Tooling configs (not required for grading)
vite.config.ts
package-lock.json
eslint.config.js